# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
.eggs/
*.whl
.venv/
venv/
env/
.env
*.log

# MkDocs
site/
*.pdf

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Workspace root folder
.workspace/
